<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
<section class="content-header" th:replace="fragments/header"></section>
	<div class="row"><h2>Rule List</h2></div>
	<div class="row">
		<a href="/ruleName/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Description</th>
					<th>json</th>
					<th>template</th>
					<th>sql</th>
					<th>sqlPart</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<!-- TODO: Show all RuleName to the table, the Action column will have Edit & Delete buttons -->
			<tr th:each="ruleName: ${ruleNames}">
						<td th:text="${ruleName.id}">User ID</td>
						<td th:text="${ruleName.name}">E-mail</td>
						<td th:text="${ruleName.description}">First Name</td>
						<td th:text="${ruleName.json}">Last Name</td>
						<td th:text="${ruleName.template}">First Name</td>
						<td th:text="${ruleName.sqlStr}">Last Name</td>
						<td th:text="${ruleName.sqlPart}">Last Name</td>
						<td>
							<form th:action="@{/ruleName/update/{id}(id=${ruleName.id})}" method="GET">
								<input type="submit" value="Edit" />
							</form>
							<form th:action="@{/ruleName/delete/{id}(id=${ruleName.id})}" method="GET">
								<input type="submit" value="Delete" />
							</form>
						</td>
					</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>